<% if(page.comments && theme.valine.enable){ %>
    <div class="blog-post-comments">
        <section id="comment">
            <div id="valine_container" class="valine_thread"></div>
        </section>
    </div>
<% } %>
